.header {
  background-color: #607488;
  height: 70px;
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: 10;
  margin: 0px 0px 20px 0px;
  left: 0;
}
.header__container {
  max-width: 1200px;
  margin: 0px auto;
  display: flex;
  padding: 0px 30px;
  align-items: center;
  justify-content: space-between;
  min-height: 70px;
}
.menu__list > li {
  position: relative;
  margin: 0px 20px 0px 20px;
}
.emty {
  content: "";
  height: 70px;
}
.menu__sub-list {
  position: absolute;
  display: block;
  top: 100%;
  right: -25%;
  background-color: rgba(0, 0, 0, 0.474);
  border-radius: 5px;
  padding: 15px;
  min-width: 120px;
  visibility: hidden;
}
.menu__sub-list li {
  margin: 0px 10px 10px 0px;
}
.menu__list > li:hover .menu__sub-list {
  opacity: 1;
  visibility: visible;
  transform: translate(0px, 0px);
  transition: all 0.3s ease 0s;
  pointer-events: all;
}
.menu__sub-list li:last-child {
  margin: 0;
}
.menu__icon {
  display: none;
}
.menu__arrow {
  display: none;
}
@media (min-width: 450px) {
  .menu__list {
    display: flex;
    align-items: center;
  }
  .menu__list > li {
    padding: 10px 0;
  }
  .menu__sub-list {
    transform: translate(0px, 10%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.3s ease 0s;
  }
}
@media (max-width: 450px) {
  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }
  .menu__icon span,
  .menu__icon::before,
  .menu__icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #fff;
  }
  .menu__icon::before,
  .menu__icon::after {
    content: "";
  }
  .menu__icon::before {
    top: 0;
  }
  .menu__icon::after {
    bottom: 0;
  }
  .menu__icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
  .menu__icon._active span {
    transform: scale(0) translate(0px, -50%);
  }
  .menu__icon._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }
  .menu__icon._active::after {
    top: 50%;
    transform: rotate(45deg) translate(0px, -50%);
  }
  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.712);
    padding: 100px 30px 30px 30px;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 70px;
    background-color: #607488;
    z-index: 2;
  }
  .menu__body._active {
    left: 0;
  }
  .menu__list > li {
    flex-wrap: wrap;
    margin: 0 0 30px 0;
  }
  .menu__list > li:last-child {
    margin-bottom: 0;
  }
  .menu__list > li._active .menu__sub-list {
    display: block;
  }
  .menu__sub-link {
    font-size: 24px;
  }
  .menu__sub-list {
    position: relative;
    background-color: #fff;
    flex: 1 1 100%;
    margin: 20px 0 0 0;
    display: none;
  }
  .menu__sub-link {
    font-size: 20px;
    color: black;
  }
}
