* {
  margin: 0;
  padding: 0;
}
*::after,
*::before {
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
}
html {
  max-width: 1024px;
  margin: 0 auto;
  background-color: #708090;
  font-family: 'Roboto';
}
body {
  max-width: 1024px;
  margin: 0 auto;
}
p {
  margin-top: 20px;
  padding-left: 10px;
  color: burlywood;
}
h2 {
  color: #607488;
}
h4 {
  padding-left: 5%;
  color: #3d5fa8;
  padding-top: 6px;
}
h6 {
  font-size: 1.1em;
  color: #3d5fa8;
  padding-left: 10%;
  padding-top: 10px;
}
a {
  text-decoration: none;
  outline: none;
  color: blanchedalmond;
  font-size: 1.2em;
}
a:hover {
  transition: 0.3s;
  color: cornflowerblue;
}
li {
  list-style: none;
}
input {
  width: 50px;
  height: 18px;
  background-color: #8da1bb;
  margin: 4px 5px;
  color: cornsilk;
}
button {
  margin: 2px 2px;
  padding: 2px 16px 2px 16px;
  width: 80px;
  height: 28px;
  background-color: #89ceda;
  border-radius: 5px;
}
button:hover {
  background-color: #9e9dfa;
  transition: 0.3s;
}
button:active {
  background-color: #635ab6;
  transition: 0.3s;
}
.razmet {
  padding: 0px 20px 15px 20px;
  border-radius: 5px;
}
.cvetB_1 {
  background-color: #b0c4de;
}
.cvetB_2 {
  background-color: #9cb0ca;
}
.cvetB_3 {
  background-color: #9eb8da;
}
.wrapper {
  min-height: 100%;
  position: relative;
}
.header {
  background-color: #607488;
  position: fixed;
  width: 100%;
  z-index: 10;
  margin: 0px 0px 20px 0px;
  left: 0;
}
.header__container {
  max-width: 1024px;
  margin: 0px auto;
  display: flex;
  padding: 0px 40px;
  align-items: center;
  justify-content: space-between;
  min-height: 70px;
}
.header__logo {
  border-radius: 50%;
  background-color: aliceblue;
  position: relative;
  margin-left: 20px;
  z-index: 5;
  width: 40px;
  height: 40px;
}
.menu__list > li {
  position: relative;
  margin: 0px 20px 0px 20px;
}
.emty {
  content: "";
  height: 70px;
}
.menu__sub-list {
  position: absolute;
  top: 100%;
  background-color: rgba(0, 0, 0, 0.474);
  border-radius: 5px;
  padding: 15px;
  min-width: 120px;
}
.menu__sub-list li {
  margin: 0px 10px 10px 0px;
}
.menu__list > li:hover .menu__sub-list {
  opacity: 1;
  visibility: visible;
  transform: translate(0px, 0px);
  transition: all 0.3s ease 0s;
  pointer-events: all;
}
.menu__sub-list li:last-child {
  margin: 0;
}
.menu__icon {
  display: none;
}
.menu__arrow {
  display: none;
}
body._lock {
  overflow: hidden;
}
body._pc .menu__list > li:hover .menu__sub-list {
  opacity: 1;
  visibility: visible;
  transform: translate(0px, 0px);
  pointer-events: all;
}
body._touch .menu__list > li {
  display: flex;
  align-items: center;
}
body._touch .menu__link {
  flex: 1 1 auto;
}
body._touch .menu__arrow {
  display: block;
  width: 0;
  height: 0;
  margin: 0 0 0 5px;
  transition: transform 0.3s ease 0s;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #fff;
}
body._touch .menu__list > li._active .menu__sub-list {
  opacity: 1;
  visibility: visible;
  transform: translate(0px, 0px);
  pointer-events: all;
}
body._touch .menu__list > li._active .menu__arrow {
  transform: rotate(-180deg);
}
.menu {
  position: static;
  margin-right: 25px;
}
@media (min-width: 575px) {
  .menu__list {
    display: flex;
    align-items: center;
  }
  .menu__list > li {
    padding: 10px 0;
  }
  .menu__sub-list {
    transform: translate(0px, 10%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.3s ease 0s;
  }
}
@media (max-width: 575px) {
  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    left: 0;
    cursor: pointer;
  }
  .menu__icon::before {
    top: 0;
  }
  .menu__icon::after {
    bottom: 0;
  }
  .menu__icon::before,
  .menu__icon::after {
    content: "";
  }
  .menu__icon span,
  .menu__icon::before,
  .menu__icon::after {
    left: 0px;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #fff;
  }
  .menu__icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
  .menu__icon._active span {
    transform: scale(0) translate(0px, -50%);
  }
  .menu__icon._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }
  .menu__icon._active::after {
    top: 50%;
    transform: rotate(45deg) translate(0px, -50%);
  }
  .menu__body {
    position: fixed;
    top: 0;
    left: -130%;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.712);
    padding: 100px 35px 30px 20px;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 70px;
    background-color: #607488;
    z-index: 2;
  }
  .menu__body._active {
    left: 0;
    width: 90%;
  }
  .menu__list > li {
    flex-wrap: wrap;
    margin: 0 0 30px 0;
  }
  .menu__list > li:last-child {
    margin-bottom: 0;
  }
  .menu__list > li._active .menu__sub-list {
    display: block;
  }
  .menu__sub-link {
    font-size: 24px;
  }
  .menu__sub-list {
    position: relative;
    background-color: #fff;
    flex: 1 1 100%;
    margin: 20px 0 0 0;
    display: none;
  }
  .menu__sub-link {
    font-size: 20px;
    color: black;
  }
}
