@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}
*::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
}

html {
  max-width: 1024px;
  margin: 0 auto;
  font-family: "Roboto";
}

.scene {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  min-height: 100vh;
}

.layer {
  position: absolute;
  left: -10%;
  top: 0;
  width: 110%;
  height: 100%;
}

.layer-bg {
  background: url(../img/back.jpg) center no-repeat;
  background-size: cover;
}

.layer-1 {
  background: url(../img/layer-1.png) center no-repeat;
  background-size: cover;
}

.layer-2 {
  background: url(../img/layer-2.png) center no-repeat;
  background-size: cover;
}

.wrapper {
  max-width: 1024px;
  margin: 0 auto;
}

p {
  margin-top: 20px;
  padding-left: 10px;
  color: burlywood;
}

h2 {
  color: #607488;
}

h4 {
  padding-left: 5%;
  color: #3d5fa8;
  padding-top: 6px;
}

h6 {
  font-size: 1.1em;
  color: #3d5fa8;
  padding-left: 10%;
  padding-top: 10px;
}

a {
  text-decoration: none;
  outline: none;
  color: blanchedalmond;
  font-size: 1.2em;
}
a:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: cornflowerblue;
}

li {
  list-style: none;
}

input {
  width: 50px;
  height: 18px;
  background-color: rgb(141, 161, 187);
  margin: 4px 5px;
  color: cornsilk;
}

button {
  margin: 2px 2px;
  padding: 2px 5px;
  width: 80px;
  height: 28px;
  font-size: 16px;
  background-color: rgb(137, 206, 218);
  border-radius: 5px;
}
button:hover {
  background-color: rgb(158, 157, 250);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
button:active {
  background-color: rgb(99, 90, 182);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.hides {
  opacity: 0;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.razmet {
  padding: 0px 20px 15px 20px;
  border-radius: 5px;
}

.cvetB_2 {
  background-color: #9cb0ca;
}

.cvetB_3 {
  background-color: #9eb8da;
}

.wrapper {
  min-height: 100%;
  position: relative;
}

.header {
  background-color: rgba(96, 116, 136, 0.5058823529);
  position: fixed;
  width: 100%;
  z-index: 10;
  margin: 0px 0px 20px 0px;
  left: 0;
  border-bottom: 1px solid #fff;
}

.header__container {
  max-width: 1024px;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 70px;
}

.header__logo {
  border-radius: 50%;
  background-color: rgb(247, 152, 152);
  position: relative;
  margin-left: 20px;
  z-index: 5;
  width: 40px;
  height: 40px;
}

.menu__list > li {
  position: relative;
  margin: 0px 20px 0px 20px;
}

.emty {
  content: "";
  height: 70px;
}

.menu__sub-list {
  position: absolute;
  top: 100%;
  background-color: rgba(0, 0, 0, 0.474);
  border-radius: 5px;
  padding: 15px;
  min-width: 120px;
}
.menu__sub-list li {
  margin: 0px 10px 10px 0px;
}

.menu__list > li:hover .menu__sub-list {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  pointer-events: all;
}

.menu__sub-list li:last-child {
  margin: 0;
}

.menu__icon {
  display: none;
}

.menu__arrow {
  display: none;
}

body._lock {
  overflow: hidden;
}

body._pc .menu__list > li:hover .menu__sub-list {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  pointer-events: all;
}

body._touch .menu__list > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body._touch .menu__link {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

body._touch .menu__arrow {
  display: block;
  width: 0;
  height: 0;
  margin: 0 0 0 5px;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #fff;
}

body._touch .menu__list > li._active .menu__sub-list {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  pointer-events: all;
}

body._touch .menu__list > li._active .menu__arrow {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.menu {
  position: static;
  margin-right: 25px;
}

@media (max-width: 2560px) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu__list > li {
    padding: 10px 0;
  }
  .menu__sub-list {
    -webkit-transform: translate(0px, 10%);
            transform: translate(0px, 10%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
}
@media (max-width: 575px) {
  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    left: 0;
    cursor: pointer;
  }
  .menu__icon::before {
    top: 0;
  }
  .menu__icon::after {
    bottom: 0;
  }
  .menu__icon::before, .menu__icon::after {
    content: "";
  }
  .menu__icon span, .menu__icon::before, .menu__icon::after {
    left: 0px;
    position: absolute;
    height: 10%;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #fff;
  }
  .menu__icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }
  .menu__icon._active span {
    -webkit-transform: scale(0) translate(0px, -50%);
            transform: scale(0) translate(0px, -50%);
  }
  .menu__icon._active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0px, -50%);
            transform: rotate(-45deg) translate(0px, -50%);
  }
  .menu__icon._active::after {
    top: 50%;
    -webkit-transform: rotate(45deg) translate(0px, -50%);
            transform: rotate(45deg) translate(0px, -50%);
  }
  .menu__body {
    position: fixed;
    top: 0;
    left: -130%;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.712);
    padding: 100px 35px 30px 20px;
    -webkit-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
  }
  .menu__body._active {
    left: 0;
    width: 90%;
  }
  .menu__list > li {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 0 30px 0;
  }
  .menu__list > li:last-child {
    margin-bottom: 0;
  }
  .menu__list {
    display: block;
  }
  .menu__list > li._active .menu__sub-list {
    display: block;
  }
  .menu__sub-link {
    font-size: 24px;
  }
  .menu__sub-list {
    position: relative;
    background-color: #fff;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin: 20px 0 0 0;
    display: none;
  }
  .menu__sub-link {
    font-size: 20px;
    color: black;
  }
}
/* первый раздел */
.razdel_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 5px;
}

span {
  color: rgba(202, 150, 150, 0.749);
  font-size: 1.3em;
}

.cardFormul {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 200px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #607488;
  border-radius: 12px;
  margin: 30px 0px;
  background: #b0c4de;
}

.cardItem {
  border: 1px solid rgba(194, 220, 223, 0.662745098);
  border-radius: 5px;
  height: 92%;
  margin: 0 4px;
}

.cardWords {
  font-size: 1.2em;
  margin-left: 10px;
  padding-right: 12px;
  color: #607488;
  text-indent: 1.5em;
}

.cardOne {
  width: 55%;
}

.cardTwo {
  width: 30%;
}

.img-1 {
  background-image: url(../img/test_1.png);
  background-size: 100%;
}

.img-2 {
  background-image: url(../img/test_2.png);
  background-size: 100%;
}

.img-3 {
  background-image: url(../img/test_3.jpg);
  background-size: 100%;
}

.cardThree {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 15%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.start {
  padding: 4px 6px;
  border-radius: 20px;
}

.modalWindow {
  position: absolute;
  top: 0;
  left: 50%;
  border: 1px solid #fff;
  border-radius: 15px;
  background: rgba(159, 189, 192, 0.7137254902);
  width: 350px;
  height: inherit;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.block-1, .block-2 {
  display: grid;
  grid-template-rows: 20px repeat(5, 34px);
  grid-template-columns: 15px repeat(8, 0.3fr);
}

.diamDet {
  grid-row: 2/3;
  grid-column: 2/4;
  justify-self: center;
}

.lab-a {
  grid-row: 2/3;
  grid-column: 4/6;
}

.diamProb {
  grid-row: 3/4;
  grid-column: 2/4;
  justify-self: center;
}

.lab-b {
  grid-row: 3/4;
  grid-column: 4/6;
}

.nDet {
  grid-row: 2/3;
  grid-column: 6/8;
  justify-self: center;
}

.lab-c {
  grid-row: 2/3;
  grid-column: 8/10;
}

.nProb {
  grid-row: 3/4;
  grid-column: 6/8;
  justify-self: center;
}

.lab-d {
  grid-row: 3/4;
  grid-column: 8/10;
}

.result-1 {
  grid-row: 5/6;
  grid-column: 3/5;
}

.reset-1 {
  grid-row: 5/6;
  grid-column: 6/8;
}

.metka {
  grid-row: 6/7;
  grid-column: 2/9;
}

.lab {
  -ms-flex-item-align: end;
      align-self: end;
  font-size: 1.1em;
  margin-bottom: 6px;
  padding-left: 15px;
  background-color: rgba(247, 159, 128, 0.575);
}

.labInp {
  -ms-flex-item-align: center;
      align-self: center;
}

@media (max-width: 575px) {
  .razdel_1 {
    display: block;
  }
  .block-1, .block-2 {
    width: 100%;
    font-size: 20px;
  }
}
/* блок плоской фаски */
#diaDet {
  grid-row: 2/3;
  grid-column: 2/4;
  justify-self: center;
}

.met-1 {
  grid-row: 2/3;
  grid-column: 4/6;
}

#maxDet {
  grid-row: 3/4;
  grid-column: 2/4;
  justify-self: center;
}

.met-2 {
  grid-row: 3/4;
  grid-column: 4/6;
}

#minDet {
  grid-row: 4/5;
  grid-column: 2/4;
  justify-self: center;
}

.met-3 {
  grid-row: 4/5;
  grid-column: 4/6;
}

#diaSvet {
  grid-row: 2/3;
  grid-column: 6/8;
  justify-self: center;
}

.met-4 {
  grid-row: 2/3;
  grid-column: 8/10;
}

#maxSvet {
  grid-row: 3/4;
  grid-column: 6/8;
  justify-self: center;
}

.met-5 {
  grid-row: 3/4;
  grid-column: 8/10;
}

#minSvet {
  grid-row: 4/5;
  grid-column: 6/8;
  justify-self: center;
}

.met-6 {
  grid-row: 4/5;
  grid-column: 8/10;
}

.metka-2 {
  grid-row: 6/7;
  grid-column: 2/9;
}

.result-2 {
  grid-row: 5/6;
  grid-column: 3/6;
  justify-self: start;
}

.reset-2 {
  grid-row: 5/6;
  grid-column: 6/8;
  justify-self: end;
}

.metka-3 {
  grid-row: 2/3;
  grid-column: 5/6;
}

@media (max-width: 575px) {
  h2 {
    font-size: 20px;
  }
}
.block-f45 {
  display: grid;
  grid-template-rows: 6px repeat(4, 33px) repeat(2, 24px);
  grid-template-columns: 15px repeat(8, 0.3fr);
}

#faska45 {
  grid-row: 2/3;
  grid-column: 2/3;
  justify-self: center;
}

.text-met1 {
  grid-row: 2/3;
  grid-column: 3/6;
}

#rad_ius {
  grid-row: 2/3;
  grid-column: 6/8;
  justify-self: center;
}

.text-met5 {
  grid-row: 2/3;
  grid-column: 8/10;
}

#diaDet45 {
  grid-row: 3/4;
  grid-column: 2/4;
  justify-self: center;
}

.text-met2 {
  grid-row: 3/4;
  grid-column: 4/6;
}

#maxFaska {
  grid-row: 3/4;
  grid-column: 6/8;
  justify-self: center;
}

.text-met3 {
  grid-row: 3/4;
  grid-column: 8/10;
}

#f45_tol {
  grid-row: 4/5;
  grid-column: 2/4;
  justify-self: center;
}

.text-met4 {
  grid-row: 4/5;
  grid-column: 4/8;
}

.result_F45 {
  grid-row: 5/6;
  grid-column: 3/5;
  justify-self: center;
}

.reset_F45 {
  grid-row: 5/6;
  grid-column: 6/8;
  justify-self: center;
}

.text_met_res {
  grid-row: 6/7;
  grid-column: 2/10;
}

#str45_2 {
  grid-row: 7/8;
  grid-column: 2/10;
}

.lab_45 {
  -ms-flex-item-align: end;
      align-self: end;
  font-size: 16px;
  padding-left: 10px;
  background-color: rgba(247, 159, 128, 0.575);
}

.content {
  display: grid;
  grid-template-rows: repeat(3, 30px);
  grid-template-columns: 1fr 0.5fr 0.5fr 0.25fr 2fr;
  margin-top: 10px;
}

.blocks_tables {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#chek {
  margin: 0;
  grid-row: 3/4;
  grid-column: 1/2;
  justify-self: end;
  align-self: center;
}

.lab-1 {
  grid-row: 1/2;
  grid-column: 1/2;
  align-self: center;
}

.lab-2 {
  grid-row: 2/3;
  grid-column: 1/2;
  align-self: center;
}

.lab-3 {
  grid-row: 3/4;
  grid-column: 1/2;
  align-self: center;
}

.inp-1 {
  grid-row: 1/2;
  grid-column: 2/3;
  justify-self: start;
  margin-left: 0;
}

.inp-2 {
  grid-row: 2/3;
  grid-column: 2/3;
  justify-self: start;
  margin-left: 0;
}

.inp-3 {
  grid-row: 3/4;
  grid-column: 2/3;
  justify-self: start;
  margin-left: 0;
}

.rezult {
  grid-row: 1/2;
  grid-column: 3/4;
  justify-self: start;
  margin-left: 0;
}

.sbros {
  grid-row: 2/3;
  grid-column: 3/4;
  justify-self: start;
  margin-left: 0;
}

.hi_off {
  visibility: hidden;
}

.hi_on {
  visibility: visible;
  -webkit-transition-duration: 5ms;
          transition-duration: 5ms;
  opacity: 0.5;
}

#mytable {
  background-color: darkgreen;
  height: 100%;
}

table,
th,
td {
  border: 1px solid gray;
  padding: 2px 8px;
}

th,
td {
  max-height: 30px;
}

table {
  border-collapse: collapse;
  margin: 10px 20px;
}

.tabl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

caption {
  margin: 6px 0px;
  font-size: 1.2em;
}

.centr {
  padding-left: 15%;
  padding-top: 4px;
}

.active {
  background: rgb(59, 123, 175);
  color: seashell;
}

.radius {
  display: grid;
  grid-template-rows: repeat(12, 35px);
  grid-template-columns: 1fr 1fr repeat(5, 0.5fr);
}

.paragraf1 {
  grid-row: 1/2;
  grid-column: 1/2;
}

.radius_1,
.r_A {
  grid-row: 2/3;
  grid-column: 1/2;
}

.r_A {
  padding: 4px 0px 0px 90px;
}

.radius_2,
.r_B {
  grid-row: 3/4;
  grid-column: 1/2;
}

.r_B {
  padding: 4px 0px 0px 90px;
}

.diametrDetaly,
.diaMdeT {
  grid-row: 4/5;
  grid-column: 1/2;
}

.diaMdeT {
  padding: 4px 0px 0px 90px;
}

.tolchina,
.tTol {
  grid-row: 5/6;
  grid-column: 1/2;
}

.tTol {
  padding: 4px 0px 0px 90px;
}

.paragraf2 {
  grid-row: 6/7;
  grid-column: 1/2;
}

.yes,
.das {
  grid-row: 7/8;
  grid-column: 1/2;
}

.das {
  padding: 4px 0px 0px 65px;
}

.no,
.nets {
  grid-row: 8/9;
  grid-column: 1/2;
}

.nets {
  padding: 4px 0px 0px 65px;
}

.kol_vo,
.shtyk {
  grid-row: 9/10;
  grid-column: 1/2;
}

.shtyk {
  padding: 4px 0px 0px 85px;
}

.raschetR {
  grid-row: 11/12;
  grid-column: 1/2;
}

.sbrosR {
  grid-row: 12/13;
  grid-column: 1/2;
}

.storonaA {
  rid-row: 1/2;
  rid-column: 2/3;
}

.DiSch {
  rid-row: 2/3;
  rid-column: 2/3;
}

.DiNak {
  rid-row: 3/4;
  rid-column: 2/3;
}

.rNak {
  rid-row: 4/5;
  rid-column: 2/3;
}

.DiPol {
  grid-row: 5/6;
  grid-column: 2/3;
}

.rPol {
  grid-row: 6/7;
  grid-column: 2/3;
}

.storonaB {
  grid-row: 7/8;
  grid-column: 2/3;
}

.slifD {
  grid-row: 8/9;
  grid-column: 2/3;
}

.naklD {
  grid-row: 9/10;
  grid-column: 2/3;
}

.naklR {
  grid-row: 10/11;
  grid-column: 2/3;
}

.polD {
  grid-row: 11/12;
  grid-column: 2/3;
}

.polR {
  grid-row: 12/13;
  grid-column: 2/3;
}

.okno1 {
  grid-row: 2/3;
  grid-column: 3/4;
}

.okno2 {
  grid-row: 3/4;
  grid-column: 3/4;
}

.okno3 {
  grid-row: 4/5;
  grid-column: 3/4;
}

.okno4 {
  grid-row: 5/6;
  grid-column: 3/4;
}

.okno5 {
  grid-row: 6/7;
  grid-column: 3/4;
}

.okno6 {
  grid-row: 8/9;
  grid-column: 3/4;
}

.okno7 {
  grid-row: 9/10;
  grid-column: 3/4;
}

.okno8 {
  grid-row: 10/1;
  grid-column: 3/4;
}

.okno9 {
  grid-row: 11/1;
  grid-column: 3/4;
}

.okno10 {
  grid-row: 12/13;
  grid-column: 3/4;
}

.koli_tvo {
  grid-row: 1/2;
  grid-column: 5/7;
}

.outL {
  padding-top: 8px;
  padding-left: 8%;
  background-color: #9eb8da;
}

.images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.put {
  width: 260px;
  height: auto;
  border: 1px solid rgb(160, 160, 187);
  border-radius: 5px;
  margin: 10px 20px;
}
.put img {
  height: 100%;
  width: 100%;
  border: 1px solid rgb(163, 163, 168);
  border-radius: 5px;
}

@media (max-width: 856px) {
  .tabl {
    display: block;
  }
}