
  /* первый раздел */
.razdel_1
  display: flex
  border-radius: 5px

.block-1,.block-2
    width: 50%
    display: grid
    grid-template-rows: repeat(8, 35px)
    grid-template-columns: 40px .4fr .5fr .4fr .5fr

.zagolovok-1
  grid-row: 1/2
  grid-column: 2/7

.diamDet
  grid-row: 3/4
  grid-column: 2/3
  justify-self: center

.lab-a
  grid-row: 3/4
  grid-column: 3/4

.diamProb
  grid-row: 4/5
  grid-column: 2/3
  justify-self: center

.lab-b
  grid-row: 4/5
  grid-column: 3/4

.nDet
  grid-row: 3/4
  grid-column: 4/5
  justify-self: center

.lab-c
  grid-row: 3/4
  grid-column: 5/6

.nProb
  grid-row: 4/5
  grid-column: 4/5
  justify-self: center

.lab-d
  grid-row: 4/5
  grid-column: 5/6


.result-1
  grid-row: 6/7
  grid-column: 3/4
  justify-self: start

.reset-1
  grid-row: 6/7
  grid-column: 4/5
  justify-self: end

.metka
  grid-row: 7/8
  grid-column: 2/5

.lab
  align-self: end
  background-color: rgba(247, 159, 128, 0.575)

.labInp
  align-self: center

@media (max-width: 575px) 
  .razdel_1
    display: block
  .block-1, .block-2
    width: 100%
    font-size: 20px
