
* {
    margin: 0;
    padding: 0;
}

html {
    max-width: 1280px;
    margin: 0 auto;
    background-color: #708090;
    font-family: 'Roboto';
}

body {
    max-width: 1024px;
    margin: 0 auto;
    overflow-x: hidden;
}
p {
    margin-top: 20px;
    padding-left: 10px;
    color: burlywood;
}

h2 {
    color: #607488;
}

h4 {
    padding-left: 5%;
    color: #3d5fa8;
    padding-top: 6px;
}

h6 {
    font-size: 1.1em;
    color: #3d5fa8;
    padding-left: 10%;
    padding-top: 10px;
}

a {
    text-decoration: none;
    outline: none;
    color: blanchedalmond;
    font-size: 1.2em;

    &:hover {
    transition: 0.3s;
    color: cornflowerblue;
    }
}

ul {
    display: flex;
    align-items: center;
    justify-items: center;
}

li {
    list-style: none;
    margin: 2px 25px;
}
input {
    width: 50px;
    height: 18px;
    background-color: rgb(141, 161, 187);
    margin: 4px 5px;
    color: cornsilk;
}

button {
    margin: 2px 2px;
    padding: 2px 16px 2px 16px;
    width: 80px;
    height: 27px;
    background-color: rgb(137, 206, 218);
    border-radius: 5px;

    &:hover {
    background-color: rgb(158, 157, 250);
    transition: 0.3s;
    }

    &:active {
    background-color: rgb(99, 90, 182);
    transition: 0.3s;
    }
}

// разметка для блоков
.razmet {
    padding: 0px 20px 15px 20px;
    border-radius: 5px;
}
.cvetB_1 {
    background-color: #B0C4DE;
}
.cvetB_2 {
    background-color: #9cb0ca;
}
.cvetB_3 {
    background-color: #9eb8da;
}