* {
    margin: 0;
    padding: 0;
}

html {
    max-width: 1280px;
    margin: 0 auto;
    background-color: #708090;
    font-family: 'Roboto';
}

body {
    max-width: 1024px;
    margin: 0 auto;
}

header {
    background-color: #607488;
    height: 70px;
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    outline: none;
    color: blanchedalmond;
    font-size: 1.2em;
}

a:hover {
    transition: 0.3s;
    color: cornflowerblue;
}

ul {
    display: flex;
    align-items: center;
    justify-items: center;
}

li {
    list-style: none;
    margin: 2px 25px;
}

.rightMenu {
    position: absolute;
    background-color: rgba(9, 9, 12, 0.719);
    transition: 0.6s;
    width: 200px;
    height: 400px;
    padding: 10px;
    border-radius: 8px;
}

.myMenu {
    position: absolute;
    transition: 0.5s;
    width: 200px;
    height: 300px;
    top: -300px;
    background-color: rgba(33, 33, 53, 0.733);
    border-radius: 8px;
}

p {
    margin-top: 20px;
    padding-left: 10px;
    color: burlywood;
}

h2 {
    padding: 10px 50px;
    color: #607488;
}

h4 {
    padding-left: 5%;
    color: #3d5fa8;
    padding-top: 6px;
}

h6 {
    font-size: 1.1em;
    color: #3d5fa8;
    padding-left: 10%;
    padding-top: 10px;
}

#mytable {
    background-color: darkgreen;
    height: 100%;
}

hr {
    border: 1px solid #577d8f;
}

.razmet {
    padding: 0px 20px 15px 20px;
    border-radius: 5px;
}

.cvetB_1 {
    background-color: #B0C4DE;
}

.cvetB_2 {
    background-color: #9cb0ca;
    ;
}

.cvetB_3 {
    background-color: #9eb8da;
}

.segments {
    display: grid;
    grid-template-rows: repeat(3, 28px);
    grid-template-columns: repeat(4, .5fr) 3fr;
}

.b5in1 {
    grid-row: 1/2;
    grid-column: 1/2;
}

.b5in2 {
    grid-row: 2/3;
    grid-column: 1/2;
}

.b5in3 {
    grid-row: 3/4;
    grid-column: 1/2;
}

.b5in4 {
    grid-row: 2/3;
    grid-column: 3/4;
}

.b5in5 {
    grid-row: 3/4;
    grid-column: 3/4;
}

#razmer {
    grid-row: 1/2;
    grid-column: 3/4;
}

.b5lab1 {
    grid-row: 1/2;
    grid-column: 2/3;
}

.b5lab2 {
    grid-row: 2/3;
    grid-column: 2/3;
}

.b5lab3 {
    grid-row: 3/4;
    grid-column: 2/3;
}

.b5lab4 {
    grid-row: 2/3;
    grid-column: 4/5;
}

.b5lab5 {
    grid-row: 3/4;
    grid-column: 4/5;
}

.b5lab6 {
    grid-row: 1/2;
    grid-column: 4/5;
}

input {
    width: 50px;
    height: 18px;
    background-color: rgb(141, 161, 187);
    margin: 4px 25px;
    color: cornsilk;
}

.content {
    display: grid;
    grid-template-rows: repeat(3, 28px);
    grid-template-columns: 1fr 0.5fr 1fr 3fr;
    margin-top: 10px;
}

#chek {
    margin: 0;
    grid-row: 3/4;
    grid-column: 1/2;
    justify-self: end;
    align-self: center;
}

.lab-1 {
    grid-row: 1/2;
    grid-column: 1/2;
    align-self: center;
}

.lab-2 {
    grid-row: 2/3;
    grid-column: 1/2;
    align-self: center;
}

.lab-3 {
    grid-row: 3/4;
    grid-column: 1/2;
    align-self: center;
}

.inp-1 {
    grid-row: 1/2;
    grid-column: 2/3;
    justify-self: start;
    margin-left: 0;
}

.inp-2 {
    grid-row: 2/3;
    grid-column: 2/3;
    justify-self: start;
    margin-left: 0;
}

.inp-3 {
    grid-row: 3/4;
    grid-column: 2/3;
    justify-self: start;
    margin-left: 0;
}

.lab {
    margin-left: 20px;
    font-size: 1em;
    color: rgb(41, 26, 107);
}

.rezult {
    grid-row: 1/2;
    grid-column: 3/4;
    justify-self: start;
    margin-left: 0;
}

.sbros {
    grid-row: 2/3;
    grid-column: 3/4;
    justify-self: start;
    margin-left: 0;
}

button {
    margin: 2px 25px;
    padding: 2px 16px 2px 16px;
    width: 100px;
    height: 27px;
    background-color: rgb(158, 207, 216);
    border-radius: 5px;
}

button:hover {
    background-color: rgb(158, 157, 250);
    transition: 0.3s;
}

button:active {
    background-color: rgb(99, 90, 182);
    transition: 0.3s;
}

table,
th,
td {
    border: 1px solid gray;
    padding: 2px 8px;
}

th,
td {
    max-height: 30px;
}

table {
    border-collapse: collapse;
    margin: 10px 20px;
}

.tabl {
    display: flex;
    min-height: 100px;
}

caption {
    margin: 6px 0px;
    font-size: 1.2em;
}

.centr {
    padding-left: 15%;
    padding-top: 4px;
}

.active {
    background: rgb(59, 123, 175);
    color: seashell;
}

.radius {
    display: grid;
    grid-template-rows: repeat(12, 35px);
    grid-template-columns: 1fr 1fr repeat(5, 0.5fr);
}

.paragraf1 {
    grid-row: 1/2;
    grid-column: 1/2;
}

.radius_1,
.r_A {
    grid-row: 2/3;
    grid-column: 1/2;
}

.r_A {
    padding: 4px 0px 0px 90px;
}

.radius_2,
.r_B {
    grid-row: 3/4;
    grid-column: 1/2;
}

.r_B {
    padding: 4px 0px 0px 90px;
}

.diametrDetaly,
.diaMdeT {
    grid-row: 4/5;
    grid-column: 1/2;
}

.diaMdeT {
    padding: 4px 0px 0px 90px;
}

.tolchina,
.tTol {
    grid-row: 5/6;
    grid-column: 1/2;
}

.tTol {
    padding: 4px 0px 0px 90px;
}

.paragraf2 {
    grid-row: 6/7;
    grid-column: 1/2;
}

.yes,
.das {
    grid-row: 7/8;
    grid-column: 1/2;
}

.das {
    padding: 4px 0px 0px 65px;
}

.no,
.nets {
    grid-row: 8/9;
    grid-column: 1/2;
}

.nets {
    padding: 4px 0px 0px 65px;
}

.kol_vo,
.shtyk {
    grid-row: 9/10;
    grid-column: 1/2;
}

.shtyk {
    padding: 4px 0px 0px 85px;
}

.raschetR {
    grid-row: 11/12;
    grid-column: 1/2;
}

.sbrosR {
    grid-row: 12/13;
    grid-column: 1/2;
}

.storonaA {
    grid-row: 1/2;
    grid-column: 2/3;
}

.DiSch {
    grid-row: 2/3;
    grid-column: 2/3;
}

.DiNak {
    grid-row: 3/4;
    grid-column: 2/3;
}

.rNak {
    grid-row: 4/5;
    grid-column: 2/3;
}

.DiPol {
    grid-row: 5/6;
    grid-column: 2/3;
}

.rPol {
    grid-row: 6/7;
    grid-column: 2/3;
}

.storonaB {
    grid-row: 7/8;
    grid-column: 2/3;
}

.slifD {
    grid-row: 8/9;
    grid-column: 2/3;
}

.naklD {
    grid-row: 9/10;
    grid-column: 2/3;
}

.naklR {
    grid-row: 10/11;
    grid-column: 2/3;
}

.polD {
    grid-row: 11/12;
    grid-column: 2/3;
}

.polR {
    grid-row: 12/13;
    grid-column: 2/3;
}

.okno1 {
    grid-row: 2/3;
    grid-column: 3/4;
}

.okno2 {
    grid-row: 3/4;
    grid-column: 3/4;
}

.okno3 {
    grid-row: 4/5;
    grid-column: 3/4;
}

.okno4 {
    grid-row: 5/6;
    grid-column: 3/4;
}

.okno5 {
    grid-row: 6/7;
    grid-column: 3/4;
}

.okno6 {
    grid-row: 8/9;
    grid-column: 3/4;
}

.okno7 {
    grid-row: 9/10;
    grid-column: 3/4;
}

.okno8 {
    grid-row: 10/11;
    grid-column: 3/4;
}

.okno9 {
    grid-row: 11/12;
    grid-column: 3/4;
}

.okno10 {
    grid-row: 12/13;
    grid-column: 3/4;
}

.koli_tvo {
    grid-row: 1/2;
    grid-column: 5/7;
}

.outL {
    padding-top: 8px;
    padding-left: 8%;
    background-color: #9eb8da;
}